:root {
	--primary-color: #ff512f;
	--secondary-color: #dd2476;
	--accent-color: #ff716c;
	--text-color: white;
	--font-main: 'Nunito', sans-serif;
}

* {
	font-family: var(--font-main);
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

html {
	font-weight: 600;
	background: linear-gradient(var(--primary-color), var(--secondary-color));
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--text-color);
}

body {
	overflow: auto;
}

ion-icon {
	color: var(--primary-color);
	font-size: 20px;
}

button, .button, .menu-item, .footer-button, .newpost-button {
	cursor: pointer;
	border: none;
	outline: none;
}

.centered {
	padding: 120px 0;
	text-align: center;
}

.app-icon {
	height: 160px;
	width: 160px;
	border-radius: 20%;
	border: 5px solid var(--text-color);
}

.avatar-icon {
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 3px solid black;
}

.title {
	font-size: 50px;
	font-weight: 800;
}

.button {
	text-decoration: none;
	font-size: 28.5px;
	font-weight: 800;
	display: inline-block;
	border-radius: 20px;
	text-align: center;
	padding: 15px 20px;
	background-color: var(--text-color);
	color: var(--primary-color);
}

.button:hover {
	background-color: rgb(200, 200, 200) !important;
}

.button:nth-of-type(1) {
	margin-right: 10px;
}

.button:nth-of-type(2) {
	margin-left: 10px;
}

.tab {
	background-color: var(--text-color);
	border-radius: 15px;
	margin: 15px 10px 0 10px;
	overflow: hidden;
	height: 50px;
}

.tab button {
	background-color: inherit;
	color: var(--primary-color);
	float: left;
	height: 50px;
	text-align: center;
	margin: auto;
	padding: 0 15px;
	transition: 0.3s;
	font-size: 18px;
	line-height: 50px;
	font-weight: 800;
}

.tab button:hover {
	background-color: #f0f0f0;
}

.tab button.active {
	background-color: #e0e0e0;
	transition: color 0.15s ease-in;
}

.tab button.profile-button {
	float: right;
	height: 35px;
	margin: 4.5px 15px 0 0;
	padding: 0;
	border-radius: 50%;
}

.profile-menu {
	display: none;
	width: fit-content;
	background-color: var(--text-color);
	border-radius: 15px;
	z-index: 1;
	float: right;
	margin: 10px 10px 0 0;
}

.show {
	display: block;
}

.menu-item {
	display: inline-block;
	background-color: inherit;
	color: var(--primary-color);
	height: 50px;
	text-align: center;
	margin: auto;
	padding: 0 15px 0 15px;
	transition: 0.3s;
	font-size: 18px;
	line-height: 50px;
	font-weight: 800;
}

.menu-item:hover {
	background-color: #f0f0f0;
}

.menu-item:first-of-type {
	border-radius: 15px 0 0 15px;
}

.menu-item:last-of-type {
	border-radius: 0 15px 15px 0;
}

.tab-content {
	display: none;
	border-top: none;
}

.moved-down {
	margin-top: 90px;
}

.tab-title {
	font-size: 35px;
	font-weight: 800;
}

.newpost-view {
	background-color: var(--text-color);
	border-radius: 15px;
	margin: 30px 10px 0 10px;
	height: 100px;
}

.newpost-button {
	background-color: var(--primary-color);
	color: var(--text-color);
	text-align: center;
	transition: 0.3s;
	font-size: 20px;
	line-height: 40px;
	float: right;
	height: 40px;
	margin: 15px 15px 0 0;
	padding: 0 15px 0 15px;
	border-radius: 10px;
	font-weight: 800;
}

.newpost-button:hover {
	background-color: var(--accent-color);
}

.post-textarea {
	margin: 17px 0 0 15px;
	width: calc(100% - 15px - 15px - 64.81px - 15px);
	border: none;
	background-color: var(--text-color);
	font: inherit;
	font-size: 20px;
	color: var(--primary-color);
	height: 40px;
	resize: none;
	overflow: hidden;
	line-height: 30px;
	font-weight: 700;
}

.post-textarea:focus {
	outline: none;
}

#count {
	margin: 10px 20px 0 0;
	font-size: 18px;
	float: right;
	color: var(--primary-color);
	font-weight: 700;
}

.profile-container {
	margin: 35px 0 15px 0;
}

.profile-header {
	background-color: var(--text-color);
	border-radius: 20px;
	margin: 30px 10px 0 10px;
	height: 120px;
}

.profile-image { 
	display: inline-block;
	vertical-align: middle;
	width: 80px;
	height: 80px;
	border: 5px solid var(--primary-color);
	margin: 15px 0 0 15px;
	border-radius: 20px;
}

.profile-info {
	display: inline-block;
	vertical-align: middle;
	height: 80px;
	width: calc(100% - 125px);
	margin: 15px 0 0 5px;
}

.profile-name {
	font-size: 20px;
	font-weight: 700;
	color: var(--primary-color);
	line-height: 20px;
}

.profile-username {
	font-size: 20px;
	font-weight: 700;
	color: var(--primary-color);
	line-height: 20px;
	margin-top: -20px;
}

.profile-info br {
	line-height: 10px;
}

.edit-button {
	position: static;
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 0.5rem 0.75rem;
	border-radius: 15px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;	
	float: right;
	margin-top: -20px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: none;
	background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 80%;
	border-radius: 20px;
}

.modal-header {
	padding: 2px 16px;
	color: var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
}

.close {
	color: var(--primary-color);
	float: right;
	font-size: 28px;
	font-weight: 800;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.header-text {
	font-size: 24px;
	line-height: 10px;
	font-weight: 800;
	margin-bottom: 20px;
}

.modal-body {
	padding: 2px 16px;
	color: var(--primary-color);
}

.body-text {
	font-size: 18px;
	font-weight: 700;
}

.modal-label {
	display: block;
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
	padding: 5px;
	line-height: 16px;
}

.modal-input {
	display: block;
	background-color: var(--primary-color);
	color: var(--text-color);
	border: 2px solid var(--primary-color);
	border-radius: 10px;
	width: 100%;
	font: inherit;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
	padding: 5px;
	line-height: 16px;
}

.modal-input:focus {
	outline: none;
}

.modal-footer {
	padding: 2px 16px;
	color: var(--primary-color);
	border-top: 2px solid var(--primary-color);
}

.footer-button {
	display: inline-block;
	background-color: var(--primary-color);
	color: var(--text-color);
	font-size: 18px;
	font-weight: 700;
	padding: 7.5px 10px;
	margin: 10px 0;
	border-radius: 12.5px;
}

.footer-button:last-of-type {
	float: right;
}

.update-avatar {
	display: block;
	border: 5px solid black;
	background-size: 100%;
	height: 150px;
	width: 150px;
	border-radius: 22.5%;
	margin-top: 15px;
}

#edit-avatar {
	display: none;
}

#avatar-button {
	display: inline-block;
	background-color: var(--text-color);
	color: var(--primary-color);
	cursor: pointer;
	border-radius: 15px;
	text-align: center;
	padding: 10px 15px;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	margin-top: calc(50% - 15px);
}

.post {
	background-color: var(--text-color);
	border-radius: 20px;
	margin: 30px 10px 0 10px;
	height: auto;
}

.post-header {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 54px;
	border-bottom: 1px solid var(--primary-color);
}

.post-avatar {
	display: inline-block;
	height: 35px;
	width: 35px;
	margin: 10px 0 6px 10px;
	border: 2px solid var(--primary-color);
	border-radius: 25%;
}

.post-info {
	display: inline-block;
	margin: 10px 0 0 5px;
	vertical-align: top;
}

.post-displayname {
	font-size: 15px;
	font-weight: 800;
	color: var(--primary-color);
	float: left;
	clear: left;
}

.post-username {
	font-size: 13px;
	font-weight: 700;
	color: var(--primary-color);
	float: left;
	clear: left;
	margin-top: -2.5px;
}

.post-content {
	font-size: 15px;
	font-weight: 700;
	margin: 5px 10px;
	color: var(--primary-color);
	height: auto;
}

.post-footer {
	height: auto;
	border-top: 1px solid var(--primary-color);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: right;
	padding: 5px 0;
}

.post-actions {
	display: inline;
	vertical-align: middle;
	align-items: center;
	height: 20px;
}

.post-like {
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

.like-count {
	color: var(--primary-color);
	margin-left: 2.5px;
	cursor: default;
}

.post-comment {
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

.comment-count {
	color: var(--primary-color);
	margin-left: 2.5px;
	cursor: default;
}

.post-delete {
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

.post-date {
	font-size: 15px;
	font-weight: 700;
	margin: 0 10px;
	color: var(--primary-color);
}

#view-post {
	display: none;
}

#view-profile {
	display: none;
}

.global-modal {
	position: absolute;
	background-color: rgb(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.postmodal-container {
	position: relative;
	background: linear-gradient(var(--primary-color), var(--secondary-color));
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	margin: 20px;
	padding: 10px;
	height: calc(100% - 150px);
}

.postmodal-post {
	background-color: var(--text-color);
	border-radius: 20px;
	height: auto;
}

.postmodal-header {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 54px;
	border-bottom: 1px solid var(--primary-color);
}

.postmodal-avatar {
	display: inline-block;
	height: 35px;
	width: 35px;
	margin: 10px 0 10px 10px;
	border-radius: 25%;
}

.postmodal-info {
	display: inline-block;
	margin: 10px 0 0 5px;
	vertical-align: top;
}

.postmodal-displayname {
	font-size: 15px;
	font-weight: 800;
	color: var(--primary-color);
	float: left;
	clear: left;
}

.postmodal-username {
	font-size: 13px;
	font-weight: 700;
	color: var(--primary-color);
	float: left;
	clear: left;
	margin-top: -2.5px;
}

.postmodal-content {
	font-size: 15px;
	font-weight: 700;
	margin: 5px 10px;
	color: var(--primary-color);
	height: auto;
}

.postmodal-footer {
	height: auto;
	border-top: 1px solid var(--primary-color);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: right;
	padding: 5px 0;
}

.postmodal-date {
	font-size: 15px;
	font-weight: 700;
	margin: 0 10px;
	color: var(--primary-color);
}

.comment-container {
	position: absolute;
	top: 0;
	bottom: 10px;
	left: 10px;
	right: 10px;
	border-radius: 20px;
	padding: 10px;
	overflow: auto;
}

.comment {
	background-color: var(--text-color);
	border-radius: 20px;
	margin: 10px 0 0 0;
	height: auto;
}

.comment-header {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	height: 54px;
	border-bottom: 1px solid var(--primary-color);
}

.comment-avatar {
	display: inline-block;
	height: 35px;
	width: 35px;
	margin: 10px 0 6px 10px;
	border: 2px solid var(--primary-color);
	border-radius: 25%;
}

.comment-info {
	display: inline-block;
	margin: 10px 0 0 5px;
	vertical-align: top;
}

.comment-displayname {
	font-size: 15px;
	font-weight: 800;
	color: var(--primary-color);
	float: left;
	clear: left;
}

.comment-username {
	font-size: 13px;
	font-weight: 700;
	color: var(--primary-color);
	float: left;
	clear: left;
	margin-top: -2.5px;
}

.comment-content {
	font-size: 15px;
	font-weight: 700;
	margin: 5px 10px;
	color: var(--primary-color);
	height: auto;
}

.comment-footer {
	height: auto;
	border-top: 1px solid var(--primary-color);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	text-align: right;
	padding: 5px 0;
}

.comment-actions {
	display: inline;
	vertical-align: middle;
	align-items: center;
	height: 20px;
}

.comment-like {
	display: flex;
	align-items: center;
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

.like-count {
	color: var(--primary-color);
	margin-left: 2.5px;
	cursor: default;
}

.comment-delete {
	margin-left: 10px;
	cursor: pointer;
	float: left;
}

.comment-date {
	font-size: 15px;
	font-weight: 700;
	margin: 0 10px;
	color: var(--primary-color);
}

.newcomment-view {
	border-radius: 15px;
	margin: 30px;
	height: 80px;
}

.newcomment-button {
	background-color: var(--secondary-color);
	color: var(--text-color);
	transition: 0.3s;
	font-size: 18px;
	float: right;
	height: 36px;
	width: 80px;
	margin: 20px 30px 0 0;
	border-radius: 15px;
	font-weight: 800;
}

.newcomment-button:hover {
	background-color: var(--accent-color);
}

.newcomment-textarea {
	border-radius: 15px;
	margin: 20px 0 20px 30px;
	width: calc(100% - 160px);
	border: none;
	background-color: var(--text-color);
	font: inherit;
	font-size: 18px;
	color: var(--primary-color);
	height: 40px;
	resize: none;
	overflow: hidden;
	line-height: 36px;
	font-weight: 700;
	padding-left: 10px;
}

.newcomment-textarea:focus {
	outline: none;
}

.profilemodal-container {
	background: linear-gradient(var(--primary-color), var(--secondary-color));
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	margin: 50px 30px;
	padding: 10px;
	height: calc(100% - 100px)
}

.profilemodal-header {
	background-color: var(--text-color);
	border-radius: 20px;
	height: 86px;
}

.profilemodal-image { 
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 10px 0 0 10px;
	border: 3px solid var(--primary-color);
	border-radius: 25%;
}

.profilemodal-info {
	display: inline-block;
	height: 66px;
	margin: 20px 0 0 5px;
	vertical-align: top;
}

.profilemodal-displayname {
	font-size: 20px;
	font-weight: 800;
	color: var(--primary-color);
	float: left;
	clear: left;
}

.profilemodal-username {
	font-size: 16px;
	font-weight: 700;
	color: var(--primary-color);
	float: left;
	clear: left;
	margin-top: -2.5px;
}